<div class="container mx-auto">
  <div class="flex items-center justify-between py-6 lg:py-10">
    <a href="/" class="flex items-center">
      <span href="#" class="mr-2">
        <%= image_tag("logo.svg", alt: "Logo", class: "h-12") %>
      </span>
      <p class="hidden font-body text-2xl font-bold text-primary dark:text-white lg:block">
        Ruby Latam
      </p>
    </a>
    <div class="flex items-center lg:hidden">
      <i class="bx mr-8 cursor-pointer text-3xl text-primary dark:text-white" @click="themeSwitch()"
        :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"></i>

      <svg width="24" height="15" xmlns="http://www.w3.org/2000/svg" @click="isMobileMenuOpen = true"
        class="fill-current text-primary dark:text-white">
        <g fill-rule="evenodd">
          <rect width="24" height="3" rx="1.5" />
          <rect x="8" y="6" width="16" height="3" rx="1.5" />
          <rect x="4" y="12" width="20" height="3" rx="1.5" />
        </g>
      </svg>
    </div>
    <div class="hidden lg:block">
      <ul class="flex items-center">
        <li class="group relative mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a href="https://www.youtube.com/@RubyLatam" target="_blank"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Youtube</a>
        </li>
        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
          </div>
          <a href="https://rubylatam.substack.com/" target="_blank"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Blog</a>
        </li>
        <li>
          <i class="bx cursor-pointer text-3xl text-primary dark:text-white" @click="themeSwitch()"
            :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="pointer-events-none fixed inset-0 z-50 flex bg-black bg-opacity-80 opacity-0 transition-opacity lg:hidden"
  :class="isMobileMenuOpen ? 'opacity-100 pointer-events-auto' : ''">
  <div class="ml-auto w-2/3 bg-red p-4 md:w-1/3">
    <i class="bx bx-x absolute top-0 right-0 mt-4 mr-4 text-4xl text-white" @click="isMobileMenuOpen = false"></i>
    <ul class="mt-8 flex flex-col">
      <li class="">
        <a href="https://www.youtube.com/@RubyLatam target="_blank" class="mb-3 block px-2 font-body text-lg font-medium text-white">Youtube</a>
      </li>
      <li class="">
        <a href="https://rubylatam.substack.com" target="_blank" class="mb-3 block px-2 font-body text-lg font-medium text-white">Blog</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <div class="container mx-auto">
    <div class="border-b border-grey-lighter py-16 lg:py-20">
      <h1 class="pt-3 font-body text-2xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
        Obtén experiencia como programador!
      </h1>
      <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
        Aprende sobre buenas prácticas y contribuye a una aplicación real mientras aprendes un lenguaje divertido enfocado en la felicidad del desarrollador.
      </p>
      <a href="https://docs.google.com/forms/d/1uxVfIpeIoAGafzPjixT4WnsTUV2zyXonQiMpO_4dyXE" target="_blank"
        class="mt-12 block bg-red px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-red-light sm:inline-block sm:text-left sm:text-2xl">
        Empezar!
      </a>
    </div>

    <div class="border-b border-grey-lighter py-16 lg:py-20">
      <div>

          <div class="">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 xl:grid-cols-3">
              <div class="max-w-2xl">
                <h2 class="text-3xl font-body text-2xl font-semibold text-primary dark:text-white">Contributors</h2>
                <p class="mt-6 font-body text-xl font-light text-primary dark:text-white">
                  Conoce algunos de los developers que ya han contribuido a RubyLatam
                </p>
              </div>
              <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                <li>
                  <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/48736357" alt="Photo David Barrionuevo">
                    <div>
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 dark:text-white ">David Barrionuevo</h3>
                      <p class="text-sm font-semibold leading-6 text-indigo-600 dark:text-white"><a href=""> <span class="underline" >Software Developer</span></a></p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/13583193" alt="Photo Juan Medina">
                    <div>
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 dark:text-white ">Juan Medina</h3>
                      <p class="text-sm font-semibold leading-6 text-indigo-600 dark:text-white"><a href="https://www.linkedin.com/in/juan-medina-730244bb/"> <span class="underline" >Software Engineer</span></a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

      </div>
    </div>

    <div class="border-b border-grey-lighter py-16 lg:py-20">
      <div class="flex items-center pb-6">
        <%= image_tag("icon-story.png", alt: "icon story") %>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
          Sobre RubyLatam
        </h3>
      </div>
      <div>
        <p class="text-justify font-body text-xl font-light text-primary dark:text-white">
          <q>Ruby cambió mi vida y me gustaría compartir el amor que le tengo con todo el mundo.
            Quiero dar a conocer lo divertido y sencillo que es utilizar éste lenguaje y dar algo de experiencia real a quien se anime a utilizarlo</q>
            <a href="https://www.linkedin.com/in/juan-medina-730244bb/">—<span class="underline"> Juan Medina </span> </a>
          <br />
            Ésta es una plataforma para hablar cosas relacionadas a Ruby, construir productos digitales, aprender y crecer!
          <br />
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
    <div class="mr-auto flex flex-col items-center sm:flex-row">
      <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
        ©2023 | Ruby Latam
      </p>
    </div>
    <div class="mr-auto flex items-center pt-5 sm:mr-0 sm:pt-0">
      <a href="https://github.com/rubylatam" target="_blank">
        <i
          class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-github"></i>
      </a>
    </div>
  </div>
</div>
